body {margin:0;padding:22px 0;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}
.AMP_1.ob-widget .ob_what {top: -3px;right: inherit;left: 140px;}
.AMP_1.ob-one-column-layout .ob-rec-text {font-size:16px;}
.AMP_1.ob-one-column-layout .ob-unit.ob-rec-text {max-height:inherit;font-weight:normal;padding-top: 8px;}
.AMP_1.ob-one-column-layout .ob-dynamic-rec-container {clear:both;}