/* 
    Created on : Dec 4, 2015, 4:02:28 PM
    Author     : mcassella
*/

$white: #FFF;
$owhite: #f9f9f9;
$purple: #a9718a;
$orange: #d08f05;
$green: #43bc49;
$yellow: #e5b721;
$blue: #3da2c6;
$red: #d43263;
$pred: #e54245;
$pblue: #4d8ed4;
$pdrkblue: #16518d;
$gray: #3a3a39;
$ltgray: #999;
$devilgray: #666;
$bggray: #f6f6f6;
$black: #000;
$maxwidth: 800px;

$msgbcolor: #31708f;
$msgblue: #d9edf7;
$blueborder: #bce8f1;
$msgreen: #d9edf7;
$greenborder: #bce8f1;

$twitter: #55acee;
$peach: #ea7b5d;
$line: #d5d5d6;